body {
  background-color: white;
  background-size: cover;
  background-position: center;
  font-family: 'Lato', sans-serif;
  color: black; }

html {
  height: 100%; }

h1 {
  font-weight: 700;
  font-size: 5em; }

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
 }

#bg {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#contactinfo {
  position: absolute;
  top: 20%;
  left: 25%;
}

.contacticons {
  display: block;
}

.contacticons img {
  width: 70px;
  margin-left: 30%;
}

#custompadicon {
  margin-left: 120px;
}

#aboutme {
    position: absolute;
    top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

#profilepic {
    width: 25%;
    margin: auto;
    display: inherit;
    padding-top: 10px;
    border-radius: 50px;
}
