<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sean McCann</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <img id="bg" src="{{ url_for('static', filename='img/bg.jpg') }}">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Sean McCann</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Professional Development <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../barblitz">Bar Blitz</a></li>
                <li><a href="../eishhappens">Eish Happens</a></li>
                <li><a href="../mvar">Moneyversity AR</a></li>
                <li><a href="../sidehustle">Side Hustle</a></li>
                <li><a href="../superanimals">Super Animals</a></li>
                <li><a href="../swipa">Swipa</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Personal Projects <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../astudioclones">Android Studio Clones</a></li>
                <li><a href="../session">Session</a></li>
                <li><a href="../openweather">Openweather</a></li>
                <li><a href="../stardetect">Stardetect</a></li>
                <li><a href="../permissiongranter">Android Permissions Plugin for Unity</a></li>
                <li><a href="../seanix">Seanix</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
</body>
</html>