<!DOCTYPE html>
<html>
<head>
<title>Seanix Nano Node</title>
</head>
<body>
<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
<div style="width: 100%" class="coinmarketcap-currency-widget" data-currency="raiblocks" data-base="USD" data-secondary="USD" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false">
</div>
<div id="NodeHealth" style="text-align: center;">
	<h3>Block Count: {{blockCount}}</h3>
	<h3>Unchecked Blocks: {{uncheckedBlocks}}</h3>
	<h3>Connected Peers: {{peerCount}}</h3>
	<h5>xrb_31rgf5n8om6pja6y6xfcrq8f6j3rsq546ym9fmd3izoesjqw5ytimtbpdt9y</h5>
</div>
</body>
</html>
