<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sean McCann</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/devpost.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Sean McCann</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Professional Development <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../barblitz">Bar Blitz</a></li>
                <li><a href="../eishhappens">Eish Happens</a></li>
                <li><a href="../mvar">Moneyversity AR</a></li>
                <li><a href="../sidehustle">Side Hustle</a></li>
                <li><a href="../superanimals">Super Animals</a></li>
                <li><a href="../swipa">Swipa</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Personal Projects <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../astudioclones">Android Studio Clones</a></li>
                <li><a href="../session">Session</a></li>
                <li><a href="../openweather"><strong>Openweather</strong></a></li>
                <li><a href="../stardetect">Stardetect</a></li>
                <li><a href="../permissiongranter">Android Permissions Plugin for Unity</a></li>
                <li><a href="../seanix">Seanix</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
      <h1 id="title">Openweather</h1>
      <hr>
      <p id="description">Openweather is a simple Android weather application developed in Android Studio for the purposes of exploring and learning the techniques involved.</p>
      <p id="description">It uses the OpenWeatherMap.org API to view weather forecasts at different locations in a rolling 5-day window.</p>
      <p id="description">Some noteworthy tech used include the following;</p>
      <ul id="gameplaylist">
        <li><a href="https://openweathermap.org/api">OpenWeatherMap API</a></li>
        <li><a href="https://developer.android.com/studio/index.html">Android Studio</a></li>
      </ul>
      <br>
      <p id="description"><a href="https://github.com/ErrAza/openweather">Openweather</a></p>
      <hr>
      <div class="techicons">
        <img src="{{ url_for('static', filename='img/generic/javaicon.png') }}">
        <img src="{{ url_for('static', filename='img/generic/androidstudioicon.png') }}">
        <img src="{{ url_for('static', filename='img/generic/androidicon.png') }}">
        <img src="{{ url_for('static', filename='img/generic/linuxicon.png') }}">
        <img src="{{ url_for('static', filename='img/generic/openweathericon.png') }}">
      </div>
      <hr>
    </div>
    <br>
    <br>
    <br>
</body>
</html>