<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sean McCann</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/devpost.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Sean McCann</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Professional Development <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../barblitz">Bar Blitz</a></li>
                <li><a href="../eishhappens">Eish Happens</a></li>
                <li><a href="../mvar">Moneyversity AR</a></li>
                <li><a href="../sidehustle">Side Hustle</a></li>
                <li><a href="../superanimals">Super Animals</a></li>
                <li><a href="../swipa">Swipa</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Personal Projects <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../astudioclones">Android Studio Clones</a></li>
                <li><a href="../session">Session</a></li>
                <li><a href="../openweather">Openweather</a></li>
                <li><a href="../stardetect"><strong>Stardetect</strong></a></li>
                <li><a href="../permissiongranter">Android Permissions Plugin for Unity</a></li>
                <li><a href="../seanix">Seanix</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><a href="../aboutme">About Me</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><a href="../contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
      <h1 id="title">Stardetect</h1>
      <hr>
      <p id="description">A simple python script that attempts to create usable extrapolated data from Hubble telescope imagery, by means of image processing.</p>
      <p id="description">My motivation for this was to help delve into other areas such as Python and SciPy, and doing so in an area I am very interested in, Astronomy.</p>
      <br>
      <hr>
      <img id="sidesplash" src="{{ url_for('static', filename='img/stardetect/stardetectraw.jpg') }}">
      <img id="sidesplash" src="{{ url_for('static', filename='img/stardetect/stardetectgraphoutput.jpg') }}">
      <hr>
      <br>
      <p id="description">Some noteworthy modules used include the following;</p>
      <ul id="gameplaylist">
        <li><a href="https://python-pillow.org/">Python PIL API</a></li>
        <li><a href="https://matplotlib.org/api/pyplot_api.html">Matplotlib</a></li>
      </ul>
      <br>
      <p id="description"><a href="https://github.com/ErrAza/stardetect">Stardetect</a></p>
      <hr>
      <div class="techicons">
        <img src="{{ url_for('static', filename='img/generic/pythonicon.png') }}">
        <img src="{{ url_for('static', filename='img/generic/sublimeicon.png') }}">
        <img src="{{ url_for('static', filename='img/generic/linuxicon.png') }}">
        <img src="{{ url_for('static', filename='img/generic/scipyicon.png') }}">
        <img src="{{ url_for('static', filename='img/generic/matplotlibicon.png') }}">
      </div>
      <hr>
    </div>
    <br>
    <br>
    <br>
</body>
</html>